<!doctype html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>

  <div class="container">

    <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
      <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
      <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
    </video>

    <div class="jumbotron text-center">
      <h1><span class="fa fa-lock"></span> Future Media Group - Developer Challenge</h1>

      <p>Login or Signup with:</p>

      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

    <% include ./partials/foot %>

  </div>
</body>

</html>
