<!doctype html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>

  <div class="container">

    <% include ./partials/navbar %>

    <div class="row">

      <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>
            <p>
              <strong>id</strong>: <%= user._id %>
              <br>
              <strong>email</strong>:  <%= user.local.email %>
              <br>
              <strong>password</strong>: <%= user.local.password %>
            </p>
        </div>
      </div>
    </div>

    <% include ./partials/foot %>

  </div>
</body>

</html>
